p {
  margin: 30px 100px;
  text-align: justify;
}

p::first-letter {
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.p2::first-line {
  background-color: yellow;
}
