* {
  box-sizing: border-box ;
}
h1 {
  font-family: 'Gemunu Libre', sans-serif;
}
body {
  margin: 50px;
}

table {
  width: 600px;
}
  
table thead {
  background-color: seagreen;
}

table tbody {
  background-color: yellowgreen;
}
td:hover {
  background-color: lightgreen;
}

th, td {
  padding: 10px;
}
tbody tr:nth-child(even) {
  background-color: olivedrab;
}